extends base.pug

block content
	if errMsg
		ul
		each err in errMsg
			li=err
	form(method="POST")
		input(type="email", name="email", placeholder="Email", value=loggedInUser.email, required)
		input(type="text", name="username", placeholder="Username", value=loggedInUser.username, required)
		input(type="text", name="name", placeholder="Name", value=loggedInUser.name, required)
		input(type="text", name="location", placeholder="Location", value=loggedInUser.location)
		input(type="submit", value="Update Profile")
		if !loggedInUser.githubLoginOnly
			hr
			a(href="change-password") Change Password &rarr;